<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.thjunge11.avrremote"
    android:versionCode="200"
    android:versionName="@string/versionName"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/avrdroid"
        android:label="@string/app_name">
        <activity
            android:name=".AVRShellActivity"
            android:label="@string/op_menu_shell" 
            android:launchMode="singleInstance">
        </activity>
        <activity android:name=".Settings"></activity>
        <activity android:name=".AVRRemoteActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AVRRemoteSelectActivity"></activity>
        <activity android:name=".AVRRemoteImportActivity" >
             <intent-filter>
                    <action android:name="android.intent.action.SEND"></action>
                    <action android:name="android.intent.action.VIEW"></action>
                    <category android:name="android.intent.category.DEFAULT"></category>
                    <data android:mimeType="application/xml" />
            </intent-filter>
            <intent-filter>
                    <action android:name="android.intent.action.SEND"></action>
                    <action android:name="android.intent.action.VIEW"></action>
                    <category android:name="android.intent.category.DEFAULT"></category>
                    <data android:mimeType="text/xml" />
            </intent-filter> 
        </activity>
        <receiver android:name=".AVRRemoteBroadcastReceiver">
            <intent-filter>
                <action android:name="de.thjunge11.avrdroid.action.SEND_COMMAND"/>
            </intent-filter>
        </receiver>
        <service android:name="AVRRemoteService" android:exported="false"></service>
        <service android:name=".AVRRemoteStateChangeService" android:exported="false"></service>
    </application>

</manifest>